body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    transform-style: preserve-3d;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); /* Add shadow */
}


p {
    color: #555;
    line-height: 1.6;
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* same as container */
footer {
    max-width: 800px;
    width: 100%;
    margin: auto;
    /* background-color: #fff; */
    padding: 10px;
    /* border-radius: 8px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    text-align: center;
}

h2 {
    color: #333;
}

ul {
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

.homepage-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.homepage-links a {
    text-align: left;
    margin-left: 0;
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.ip-box {
    margin-top: 15px;
    padding: 10px;
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

details {
    margin-top: 20px;
}
details summary {
    cursor: pointer;
    font-weight: bold;
}